server:
  port: ${PORT:8082}

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/suyos_user_db?useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: never

  security:
    oauth2:
      resource-server:
        jwt:
          public-key: classpath:keys/public.pem
          expiration: 900000

logging:
  level:
    com.suyos.userservice: INFO
    org.springframework.security: WARN
    org.springframework.web: INFO