spring:
  application:
    name: user-service
  profiles:
    active: dev
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: user-group

logging:
  level:
    root: INFO
    com.suyos: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: READ_ONLY
  metrics:
    tags:
      application: ${spring.application.name}