apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
data:
  database.url: "jdbc:mysql://mysql:3306/authdb"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: user-service-config
data:
  database.url: "jdbc:mysql://mysql:3306/userdb"