server:
  port: ${PORT:8081}

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/suyos_auth_db?useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: never

  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
      resourceserver:
        jwt:
          public-key-location: classpath:keys/public.pem
          
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

logging:
  level:
    com.suyos.authservice: INFO
    org.springframework.security: WARN
    org.springframework.web: INFO