spring:
  application:
    name: auth-service

  profiles:
    active: dev

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            client-name: Google

  kafka:
    bootstrap-servers: localhost:9092

# Rate Limiting (optional)
# app:
#   rate-limit:
#     ip:
#       requests-per-minute: 10
#     user:
#       requests-per-15-minutes: 5

logging:
  level:
    root: INFO
    com.suyos: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: READ_ONLY
  metrics:
    tags:
      application: ${spring.application.name}