server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: bff-routes
          uri: http://localhost:3001
          predicates:
            - Path=/api/**

      globalcors:
        cors-configurations:
          "[/**]":
            allowed-origins:
              - http://localhost:5173
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - prometheus
          - gateway